/*Colores*/
$color_primario:rgba(6,144,175,1);
$color_secundario: rgba(0,0,0,.5);
$color_terciario: rgba(0,0,0,1);
$color_background: rgba(246,246,246,1);
$color_background_2: rgba(204,204,204,1);

/*tipografia*/

$font_extra_light: sans-serif;
$font-weight-normal: 300;

$font_light: sans-serif;
$font-weight-light: 300;

$font_regular: sans-serif;
$font-weight-regular: 500;

$font_medium: sans-serif;
$font-weight-medium: 500;

$font_bold:sans-serif;
$font-weight-bold: bold;




/*iconos*/
$usuario_off: url("../img/user_off.svg");
$usuario_on: url("../img/user_on.svg");
$logo: url("../img/logo.png");


