.autocomplete {
  position: relative;

  &.has-results {
    input {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom: none;
    }
  }

  .autocomplete-results {
    width: 100%;
    min-height: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    max-height: 300px;
    overflow-y: auto;

    .autocomplete-result {
      display: flex;
      align-items: center;
      padding: 0.5em;

      &.disabled {
        filter: grayscale(1);
        opacity: 0.4;

        &:hover {
          cursor: not-allowed;
        }
      }

      &:not(.disabled):not(.no-results):hover {
        cursor: pointer;
        background-color: rgba(200, 200, 200, 0.2);
      }
    }
  }
}
