module.exports = {
  apps: [
    {
      name: "fiscalizaciones-backend",
      script: "./src/index.js",
      watch: false,
      env_production: {
        NODE_ENV: "production",
        EMAIL_FROM_NAME: "Republicanos Unidos",
        EMAIL_FROM_ADDRESS: "fiscalizacion@republicanosunidospba.com",
        /*
        DB_USERNAME: "",
        DB_HOSTNAME: "",
        DB_PASSWORD: "",
        SECRET: "", // Secret must have 32 characters,
        SESSION_SECRET: "",
        SMTP_SERVER: "",
        SMTP_USER: "",
        SMTP_PASSWORD: "",
        SUPERADMIN_INITIAL_PASSWORD: ""
        URL_BACKOFFICE_FRONTEND: "https://fiscalizacion.republicanosunidospba.com.ar", // fallback a WEBSITE_HOSTNAME
        */
      },
    },
  ],
};
