<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ subject }}</title>
</head>

<body>

  <p>Te han asignado como administrador del sistema de fiscalización de Republicanos Unidos.</p>
  <p>Para ingresar, es necesario que generes tu contraseña. Hacé click en el siguiente link.</p>
  
  <a href="{{link}}">Generar mi contraseña</a>

</body>

</html>