.table {
  margin: 0px;
  
  &.align-items-center {
    td,
    th {
      vertical-align: middle;
    }
  }

  thead.card-header {
    td, th {
      border-top: 0;
      border-bottom: 0;
    }

    .form-group {
      margin-bottom: 0;
    }
  }

  .table-flush {
    td,
    th {
      border-left: 0;
      border-right: 0;
    }

    tbody {
      tr:first-child {
        td,
        th {
          border-top: 0;
        }
      }

      tr:last-child {
        td,
        th {
          border-bottom: 0px;
        }
      }
    }
  }
}
